body {
  font-size: 16px;
  color: $font-color;
  line-height: 15px;
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}
.nav {
  &__li {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
  }
}
.logo {
  &__title-span {
    text-transform: uppercase;
    line-height: 1.4;
    font-size: 1.3rem;
    font-weight: 700;
  }
  &__title-span:last-child {
    font-size: 0.7rem;
    font-weight: 400;
  }
}
