.header {
  &__container {
    padding: 2.5rem 11.8rem 2.5rem 13rem;
    width: 100%;
    height: 7.7rem;
    background-color: white;
    @include add-flex(row, space-between);
    animation-name: go-down;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 3;
  }

  &__logo-container {
    width: 40vw;
    @include add-flex(row, flex-start);
  }
  &__menu-container {
    @include add-flex(row, space-between);

    width: 60vw;
  }
  &__logo-title {
    @include add-flex(column, center);
    align-items: flex-start;
  }
  &__logo {
    padding-right: 1rem;
  }
}
.menu {
  &__nav-container {
    @include add-flex(row, space-between);
  }
  &__contacts-container {
    @include add-flex(row, space-between);
  }
  &__icon i {
    position: relative;
    padding: 0.9rem;
  }
  &__icon i:hover {
    color: $red-color;
  }

  &__icon a {
    position: absolute;
    top: 0.5rem;
    left: 0;
    padding: 2.6rem 0.9rem;
  }
}
.nav {
  &__ul {
    @include add-flex(row, space-between);
    padding-left: 0;
  }
  &__li {
    list-style: none;
  }
  &__li:not(:last-child) {
    padding-right: 1.5rem;
  }
}
a.nav__a {
  padding: 3.3rem 0;
}
.first-screen {
  &__container {
    width: 100%;
  }
  &__video-container {
    position: relative;
  }
  &__video {
    width: 100%;
  }
}
